# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Resources
Resources/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Resources/제목_없는_아트워크 10.png
Resources/제목_없는_아트워크 11.png
Resources/제목_없는_아트워크 12.png
Resources/제목_없는_아트워크 13.png
Resources/제목_없는_아트워크 14.png
Resources/제목_없는_아트워크 15.png
Resources/제목_없는_아트워크 16.png
Resources/제목_없는_아트워크 17.png
Resources/제목_없는_아트워크 18.png
Resources/제목_없는_아트워크 19.png
Resources/제목_없는_아트워크 2.png
Resources/제목_없는_아트워크 20.png
Resources/제목_없는_아트워크 21.png
Resources/제목_없는_아트워크 22.png
Resources/제목_없는_아트워크 23.png
Resources/제목_없는_아트워크 24.png
Resources/제목_없는_아트워크 25.png
Resources/제목_없는_아트워크 26.png
Resources/제목_없는_아트워크 27.png
Resources/제목_없는_아트워크 28.png
Resources/제목_없는_아트워크 29.png
Resources/제목_없는_아트워크 3.png
Resources/제목_없는_아트워크 30.png
Resources/제목_없는_아트워크 31.png
Resources/제목_없는_아트워크 32.png
Resources/제목_없는_아트워크 33.png
Resources/제목_없는_아트워크 34.png
Resources/제목_없는_아트워크 35.png
Resources/제목_없는_아트워크 36.png
Resources/제목_없는_아트워크 37.png
Resources/제목_없는_아트워크 38.png
Resources/제목_없는_아트워크 39.png
Resources/제목_없는_아트워크 4.png
Resources/제목_없는_아트워크 40.png
Resources/제목_없는_아트워크 41.png
Resources/제목_없는_아트워크 42.png
Resources/제목_없는_아트워크 43.png
Resources/제목_없는_아트워크 44.png
Resources/제목_없는_아트워크 45.png
Resources/제목_없는_아트워크 46.png
Resources/제목_없는_아트워크 47.png
Resources/제목_없는_아트워크 48.png
Resources/제목_없는_아트워크 49.png
Resources/제목_없는_아트워크 5.png
Resources/제목_없는_아트워크 50.png
Resources/제목_없는_아트워크 51.png
Resources/제목_없는_아트워크 52.png
Resources/제목_없는_아트워크 53.png
Resources/제목_없는_아트워크 54.png
Resources/제목_없는_아트워크 55.png
Resources/제목_없는_아트워크 56.png
Resources/제목_없는_아트워크 57.png
Resources/제목_없는_아트워크 58.png
Resources/제목_없는_아트워크 59.png
Resources/제목_없는_아트워크 6.png
Resources/제목_없는_아트워크 60.png
Resources/제목_없는_아트워크 61.png
Resources/제목_없는_아트워크 62.png
Resources/제목_없는_아트워크 7.png
Resources/제목_없는_아트워크 8.png
Resources/제목_없는_아트워크 9.png
Resources/제목_없는_아트워크 10.png
*.png
*.png
